font-family:'Candara',sans-serif;

header {
  min-height: 5vh;
  background-color: rgb(255, 191, 191);
  padding: 10px;
  align-items: center;
  justify-content: center;
  
}

.flexbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Candara';
  
}


.flexbox.header-links {
  width: 450px;
  justify-content: space-between;
  margin: 20px 0 40px 0;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-family:'Candara';
}

h2 {
  font-size: 50px;
  text-align: center;
  background-color: rgb(255, 191, 191);
  font-family:'Candara';
}

.categorie {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}



footer {
  height: 50px;
  font-family:'Candara';
  
}


div.footer {
  height: 100%;
  align-items: left;
  justify-content: space-between;
}


div.footer > p.footer-infos {
  margin: 0 20px;
}

p.footer-steam {
  margin: 0 30px 0 30px;
  font-size: 40px;
  
}